.Main_wrap{
    width: 1420px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.Main_inner{
    width: 1320px;
display: flex;
justify-content: space-between;
}
.Main_Left{
    width: 1014px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.Main_Letop{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.Main_Letop_left>img{
border-radius: 8px;
margin-right: 20pxs;
}
.Main_Letop_right{
width: 214px;
height: 110px;
border: solid 0.5px #666666;  
border-radius: 8px;  
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.Main_Letop_right>h1{
   font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #ca2c00; 
    margin: 0;
}
.Main_Letop_right>h2{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #222;
    margin: 5px 0 ;
}
.Main_Letop_right>h3{
   font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #666666;
    margin: 0;
}
.Main_Right>img{
    width: 260px;
    height: 360px;
border-radius: 8px;
margin-right: 20px;
margin-top: 30px;
}
.Main_box1{
    width: 148px;
}
.Main_Lebottom{
padding-left: 20px;
padding-top: 32px;
display: flex;
}
.Main_swipe{
    display: flex;
}
.Main_swipe_page{
    width: 218px;
    height: 176px;
    border: solid 1px #6a6a6a;
    border-radius: 8px;
    margin: 0 14px;
    padding: 20px;
    h2{
        font-size: 12px;
        font-weight: 400;
    }
    h3{
        font-size: 18px;
        font-weight: 600;
    }
    h4{
        font-size: 8px;
        font-weight: 400;
        color: #6a6a6a;
    }
}
.title{
        font-size: 12px;
        font-weight: 400; 
        border-radius: 100px;
        border: solid 1px #0057ff; 
        color: #0057ff;
        width: 60px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eef3fb;
        margin-left: 150px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.Main_swipe_page:hover{
    
}
.main-service-item{
    width: 116px;
    height: 22px;
    padding: 9px 16px ;
    margin-bottom: 4.5px;
    border-radius: 100px;
    cursor: pointer;
    h1{
    display: flex;
    font-weight: 600;
    color: #6a6a6a;
    align-items: center;
    font-size: 14px;
    margin: 0;
    }
}
.main-service-item.active {
  background-color: #0057ff;
  h1{
  color: white; 
  margin: 0;
  }
}